.App {
  height: 100vh;
  width: 1140px;
  padding: 100px;
  margin: 0 auto;
  background-color: #7faee5;
  text-align: left;
}

button {
  width: 60px;
  height: 30px;
  margin: 20px;
  background-color: #ece033;
  border-radius: 50%;
  border: none;
}